
# Core libraries used in the codebase
torch
transformers
fastapi
uvicorn
opencv-python
pytesseract
pillow
pandas
datasets
evaluate
scikit-learn
transformers[torch]
matplotlib

# Optional: If you use GPU, install CUDA compatible PyTorch manually
# torch --index-url https://download.pytorch.org/whl/cu121
# torchvision --index-url https://download.pytorch.org/whl/cu121
# torchaudio --index-url https://download.pytorch.org/whl/cu121
cycler==0.12.1

